img{
  max-width: 100%;

}


table {
  border-collapse: collapse;
}

tr, td, th {
  border: 1px solid rgba(0,0,0,0.5);
  padding: 8px;
}

.container{
  max-width: 640px;
  margin: 0 auto;
  padding: 0 24px;
}
.title{
  text-align: center;
  font-size: 42px;
  margin-bottom: 32px;
  margin-top: 64px;
}
.input-search{
  position: relative;
  width: 100%;
  margin-bottom: 64px;
}
.input-search-field{
  width: 100%;
  border: 1px solid #888;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 8px;
  background-color: #eee;
  padding-left: 64px;
  outline: none;
}
.input-search-field:focus{
  box-shadow: 0px 4px 8px navy;
}
.input-search-img{
  position: absolute;
  top: 50%;
  left: 24px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}

.card-item{
  background-color:#aaa;
  border-radius: 16px;
  padding: 24px;
  border: 1px solid #666;
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.card-item-title{
  margin: 0;
  font-size: 32px;
  margin-bottom: 8px;
}

.card-item-image-wrapper{
  max-width: 150px;
  margin-right: 24px;
}

.card-item-origin{
  margin: 0;
  margin-bottom: 16px;
  flex:1;
}
 .card-item-button-wrapper{
   text-align: right;
 }

.card-item-content{
  flex: 1;
  display: flex;
  flex-direction: column
  ;
}

.card-item-button{
  margin-left: 16px;
  border-radius: 8px;
  background-color: #39DBD1;
  padding: 8px 24px;
  border: 1px solid #39DBD1;
  outline: none;
}

.card-item-detail {
  overflow-x: auto;
  padding: 24px 0;
}

.card-item-button:focus{
  box-shadow: 0 2px 16px navy;

}


.button-loadmore-wrapper {
  text-align: center;
}

.button-loadmore-wrapper button {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #39DBD1;
  cursor: pointer;
  border: 1px solid #39DBD1
}
.button-loadmore-wrapper button:focus {
  box-shadow: 0 2px 16px #39DBD1;
}